<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/VIGNESH/Downloads/Akshaya-Simplesurance-Selenium-Automation/Akshaya-Simplesurance-Assignment">
        <classes>
<!--            <class name="createSingleInsuranceTest"></class>-->
<!--            <class name="sortInsuranceTest"></class>-->
            <class name="searchInsuranceTest"></class>
        </classes>
    </test>
</suite>